@import 'tailwindcss/base';
@import './prism.css';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './fonts.css';

@layer base {
  [inert] ::-webkit-scrollbar {
    display: none;
  }
}

.prose :where(code):not(:where([class~="not-prose"] *))::before {
  opacity: 0.4;
}
.prose :where(code):not(:where([class~="not-prose"] *))::after {
  opacity: 0.4;
}
